= form_with(model: match_team, local: true) do |form|
  = form.select :player_ids, Player.all.collect {|x| [x.username, x.id]}, {}, multiple: true
  - if match_team.errors.any?
    #error_explanation
      %h2
        = pluralize(match_team.errors.count, "error")
        prohibited this match_team from being saved:
      %ul
        - match_team.errors.full_messages.each do |message|
          %li= message
  .actions
    = form.submit
