- editable = false if local_assigns[:editable].nil?

%a.ui.card{href: editable ? edit_player_url(player) : player_url(player)}
  .image{style: 'min-height: 207px'}
    %img{style: 'object-fit: cover;', src: player.avatar_url || "http://placebeard.it/600/600/#{player.id}"}
  .content
    %img.ui.right.floated.image{src: image_url(player.rank_url), height: '50px', style: 'margin: 0;', title: player.rank_title}
    .ui.right.floated.images
      %img.ui.image{src: image_url('ranks/special-1.svg'), height: '25px', style: 'margin: 0;'}
      %img.ui.image{src: image_url('ranks/special-2.svg'), height: '25px', style: 'margin: 0;'}
      %img.ui.image{src: image_url('ranks/special-3.svg'), height: '25px', style: 'margin: 0;'}
    .header
      = player.username
    .meta
      %span.date
        Joined in
        = player.created_at.year
    .meta
      %span.ui.empty.tiny.circular.green.label
      %span.text.green
        currently
        %b playing
        with Marvin against Stoeckl and Joshi
        %b
          (
          = semantic_icon(:small, :loading, :green, :fitted, :sync)
          1:0)
  .extra.content
    %i.futbol.icon
    - total_matches = player.matches.count
    = total_matches
    = 'Match'.pluralize(total_matches)
    = "(#{player.matches_won} won)"