- editable = false if local_assigns[:editable].nil?

%a.ui.card{href: editable ? edit_player_url(player) : player_url(player)}
  - if player.inactive
    .ui.top.attached.red.label Inactive
  .image{style: 'min-height: 207px; max-height: 207px; overflow: hidden'}
    %img{style: 'object-fit: cover;', src: player.avatar_url || "http://placebeard.it/600/600/#{player.id}"}
  .content
    %img.ui.right.floated.image{src: image_url(player.rank_url), height: '50px', style: 'margin: 0;', title: player.rank_title}
    .ui.right.floated.images
      /%img.ui.image{src: image_url('ranks/special-1.svg'), height: '25px', style: 'margin: 0;'}
      /%img.ui.image{src: image_url('ranks/special-2.svg'), height: '25px', style: 'margin: 0;'}
      /%img.ui.image{src: image_url('ranks/special-3.svg'), height: '25px', style: 'margin: 0;'}
    .header
      = player.username
      = semantic_icon(:crown, :yellow) if player.vip
    .meta
      %span.date
        Joined in
        = player.created_at.year
    .meta
      - if !Match.last.finished && Match.last.players.include?(player.id)
        %span.ui.empty.tiny.circular.green.label
        %span.text.green
          currently
          %b playing
          = Match.last.team_a.pluck(:username).to_sentence
          against
          = Match.last.team_b.pluck(:username).to_sentence
          %b
            = Match.last.winning_score
            = semantic_icon(:small, :loading, :green, :fitted, :sync)
  .extra.content
    %i.futbol.icon
    - total_matches = player.matches.count
    = total_matches
    = 'Match'.pluralize(total_matches)
    %span.right.floated
      %b= player.skill.mean.round(2)
      = "(±#{player.skill.deviation.round(1)})"
