%p#notice= notice
%h1.ui.dividing.header Robert's place
.ui.grid
  .row
    .nine.wide.column
      .ui.basic.segment
        %h3.ui.dividing.header Last 5 matches
        .ui.large.feed
          .event
            .label
              = semantic_icon(:circular, :trophy, :green)
            .content
              .summary
                %a.user
                  Robert
                won
                %a a match
                1:0
                .date
                  1 Hour Ago
              .meta
                = semantic_icon(:users)
                With Manu against Stoeckl and Joshi
          .event
            .label
              = semantic_icon(:circular, :times, :red)
            .content
              .summary
                %a Robert
                lost
                %a a match
                1:2
                .date
                  4 days ago
              .meta
                = semantic_icon(:users)
                With Manu against Stoeckl and Joshi
          .event
            .label
              = semantic_icon(:circular, :trophy, :green)
            .content
              .summary
                %a.user
                  Robert
                won
                %a a match
                1:0
                .date
                  1 Hour Ago
              .meta
                = semantic_icon(:users)
                With Manu against Stoeckl and Joshi
          .event
            .label
              = semantic_icon(:circular, :times, :red)
            .content
              .summary
                %a Robert
                lost
                %a a match
                1:2
                .date
                  4 days ago
              .meta
                = semantic_icon(:users)
                With Manu against Stoeckl and Joshi
          .event
            .label
              = semantic_icon(:circular, :times, :red)
            .content
              .summary
                %a Robert
                lost
                %a a match
                1:2
                .date
                  4 days ago
              .meta
                = semantic_icon(:users)
                With Manu against Stoeckl and Joshi
    .seven.wide.column
      .ui.basic.right.floated.segment
        = render partial: 'shared/player_card', locals: {player: @player, editable: true}
  .row
    .eight.wide.column
      %h3.ui.dividing.header Win/Loose Ratio
      = pie_chart({win: 2, lost: 5}, colors: ['#5bbd72', '#d95c5c'])
    .eight.wide.column
      %h3.ui.dividing.header Goal Ratio
      = pie_chart({goals: 23, 'goal against': 45}, colors: ['#5bbd72', '#d95c5c'])