%p#notice= notice
%h1.ui.dividing.header
  = @player.username
  's place
.ui.grid
  .row
    .nine.wide.column
      .ui.basic.segment
        %h3.ui.dividing.header Last 5 matches
        .ui.large.feed
          - @player.matches.each do |match|
            - won = match.won_by_player(@player)
            .event
              .label
                - if won
                  = semantic_icon(:circular, :trophy, :green)
                - else
                  = semantic_icon(:circular, :times, :red)
              .content
                .summary
                  %a.user
                    Robert
                  - if won
                    won
                  - else
                    lost
                  %a a match
                  = match.winning_score
                  .date
                    1 Hour Ago
                .meta
                  = semantic_icon(:users)
                  = match.team_a.pluck(:username).to_sentence
                  against
                  = match.team_b.pluck(:username).to_sentence
    .seven.wide.column
      .ui.basic.right.floated.segment
        = render partial: 'shared/player_card', locals: {player: @player, editable: true}
  .row
    .eight.wide.column
      %h3.ui.dividing.header Win/Loose Ratio
      = pie_chart({won: @player.matches_won, lost: @player.matches.count - @player.matches_won}, colors: ['#5bbd72', '#d95c5c'])
    .eight.wide.column
      %h3.ui.dividing.header Goal Ratio
      = pie_chart({goals: 0, 'goal against': 0}, colors: ['#5bbd72', '#d95c5c'])