= form_with(model: match, local: true) do |form|
  - if match.errors.any?
    #error_explanation
      %h2
        = pluralize(match.errors.count, "error")
        prohibited this match from being saved:
      %ul
        - match.errors.full_messages.each do |message|
          %li= message
  = collection_select(:match, :player_1_id, Player.order(:username),:id,:username
  .actions
    = form.submit
