!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title HkickDashboard
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    .ui.menu
      .ui.header.item kickr
      = link_to 'Players', players_url, class: 'ui item'
      = link_to 'Teams', match_teams_url, class: 'ui item'
      = link_to 'Matches', matches_url, class: 'ui item'
      = link_to 'Rounds', rounds_url, class: 'ui item'
    = yield
